# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IntelliJ IDEA
.idea/
*.iws
*.ipr

# Logs
*.log

# Quarkus
.quarkus/

# OS specific
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.class
*.war
*.ear
*.jar

localstack/